## Add Two Numbers

write a function to adds two numbers and print the output

In [1]:
x=15
y=17
add=x+y
print (add)

32

## Square root 

write a function to calculate the square root of a number and print / return the output

In [2]:
x=5
sqrt=5**2
print (sqrt)

25

## The area of triangle

write a function to calculate the area of triangle and print / return the output

In [3]:
h=10
b=30
area=1/2*b*h
print (area)

150.0

## Solving Quadratic Equation

write a function to solve the Quadratic Equation and print / return the output

* the Quadratic Equation : d = (b**2) - (4*a*c), you basically fsolve for (d)

* you can use library cmath using this command
* -> import cmath

In [6]:
import cmath
a=10
b=12
c=20
d = (b*2) - (4*a*c)
print (d)

-776

## Convert Kilometers to Miles and vice versa

write a function to Convert Kilometers to Miles vice versa and print / return the output

In [21]:
km=1
mile=km*0.621
print (km,'kilometers =', mile, 'miles')
mile=1
km=mile*1.609
print (mile, 'miles = ', km,'kilometers')

1 kilometers = 0.621 miles
1 miles =  1.609 kilometers

## Convert Celsius To Fahrenheit

write a function to Convert Celsius To Fahrenheit and print / return the output

In [22]:
c=1
f=c*33.8
print (c,'Celsius =', f, 'Fahrenheit')

1 Celsius = 33.8 Fahrenheit

## Check if a Number is Positive, Negative or 0 using input method

In [27]:
x=int(input('input number: '))
#Number is Positive
print (x>0)
#Number is Negative
print (x<0)
#Number is 0
print (x==0)

input number: -5
False
True
False

# IF STATMENT

## Odd or Even

us if statement to determine if the input number is odd or even

In [37]:
x=int(input('input number: '))
def even_odd(x):
    if (x%2 == 0):
        print ('even')
    else:
        print ('odd')
even_odd(x)

input number: 5
odd

## Check Leap Year

A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400

* check if the year is divisible by 4 
* check if the year is a century year, then , check if the year is divisible by 400

In [40]:
year = int(input("Enter a year: "))  
if (year % 4) == 0:  
   if (year % 100) == 0:  
       if (year % 400) == 0:  
           print("{0} is a leap year".format(year))  
       else:  
           print("{0} is not a leap year".format(year))  
   else:  
       print("{0} is a leap year".format(year))  
else:  
   print("{0} is not a leap year".format(year))

Enter a year: 2021
2021 is not a leap year

## The Largest Number

check the largest number between three different numbers

In [38]:
listx=[14,17,20]
listx.sort()
print ('largest number is: ', listx[-1])

largest number is:  20

## Check Prime Number
A positive integer greater than 1 which has no other factors except 1 and the number itself is called a prime number. 2, 3, 5, 7 etc. are prime numbers as they do not have any other factors. But 6 is not prime (it is composite) since, 2 x 3 = 6.

In [48]:
num = int(input("Enter a number: "))  
  
if num > 1:  
   for i in range(2,num):  
       if (num % i) == 0:  
           print(num,"is not a prime number")  
           print(i,"times",num//i,"is",num)  
           break  
   else:  
       print(num,"is a prime number")  
         
else:  
   print(num,"is not a prime number")

Enter a number: 6
6 is not a prime number
2 times 3 is 6

## Print all Prime Numbers in an Interval

In [56]:
lower = 10
upper = 50

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 10 and 50 are:
11
13
17
19
23
29
31
37
41
43
47

## Find the Factorial of a Number

The factorial of a number is the product of all the integers from 1 to that number.

For example, the factorial of 6 is 1*2*3*4*5*6 = 720. Factorial is not defined for negative numbers, and the factorial of zero is one, 0! = 1.

In [51]:
def factorial(n):
    return 1 if (n==1 or n==0) else n * factorial(n - 1);
num = int(input("Enter a number: "))  
print("Factorial of",num,"is",
factorial(num))

Enter a number: 6
Factorial of 6 is 720

## Display the multiplication Table of a given number

In [59]:
num = 9
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

## Check Armstrong Number

A positive integer is called an Armstrong number of order n if

abcd... = an + bn + cn + dn + ... /n

153 = 1*1*1 + 5*5*5 + 3*3*3  // 153 is an Armstrong number.

In [60]:
num = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 5
5 is not an Armstrong number

## Find the Sum of Natural Numbers

In [62]:
num = 10

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

The sum is 55